{% extends 'registration/base.html' %}
{% block title %}بازیابی رمز عبور{% endblock %}

{% block main %}
{% load static %}

<div class="row">
	<div class="col">
		<a href="{% url 'cleanWorld:home' %}"><img class="siteLogo d-lg-none" src="{% static 'cleanWorld/image/logo.jpg' %}"></a>
		<p class="info">بازیابی رمز عبور</p>
	</div>
</div>		
<div class="row">
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	</div>
	<div class="col col-lg-6 .d-block login-div">
		<span class="alert-success">لینک بازیابی رمزعبور با موفقیت برای شما ارسال گردید.</span>
		<span>
			<a class="btn btn-danger btn-rounded waves-effect waves-light mt-3 text-white d-block" href="{% url 'login' %}">بازگشت</a>
		</span>
	</div>
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	
	</div>
</div>
{% endblock %}