{% extends 'registration/email_base.html' %}
{% block title %}{{page_title}}{% endblock %}

{% block main %}

<p style="margin: 0 0 16px;">سلام {{user.get_username}} درخواست بازگردانی رمز عبور توسط شما ثبت شده است برای بازگردانی برروی لینک زیر کلیک کنید.</p>

{% block reset_link %}
<a style="  background-color: #cab49c;
  border: 1px solid #cab49c;
  font-size: 20px;
  color: #FFFFFF;
  width: 150px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;" href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">کلیک کنید</a>
{% endblock %}


{% endblock %}