{% extends 'registration/base.html' %}
{% block title %}تغییر رمزعبور{% endblock %}

{% block main %}
{% load widget_tweaks %}
{% load static %}

<div class="row">
	<div class="col">
		<a href="{% url 'cleanWorld:home' %}"><img class="siteLogo d-lg-none" src="{% static 'cleanWorld/image/logo.jpg' %}"></a>
		<p class="info">تغییر رمز عبور</p>
	</div>
	{% if form.non_field_errors %}
		<div class="alert-danger">
			{% for error in form.non_field_errors %}
				<span>{{error}}</span>
			{% endfor %}
		</div>
	{% endif %}
</div>
<div class="row">
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	
	</div>
	<div class="col col-lg-6 .d-block login-div">
		<form method="POST" class="my-login-validation" novalidate="">
			{% csrf_token %}
			<div class="form-group">
				<label class="float-right" for="new-password">رمز عبور فعلی:</label>
				{{form.old_password|add_class:"form-control"|attr:"autofocus"}}
				{% if form.old_password.errors %}
						<div class="alert-danger">
							{% for error in form.old_password.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% endif %}
				<div class="invalid-feedback">
					رمز عبور اجباری است.
				</div>
			</div>

			<div class="form-group">
				<label class="float-right" for="new-password">رمز عبور جدید:</label>
				{{form.new_password1|add_class:"form-control"|attr:"autofocus"}}
				{% if form.new_password1.errors %}
						<div class="alert-danger">
							{% for error in form.new_password1.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% endif %}
				<div class="invalid-feedback">
					رمز عبور اجباری است.
				</div>
			</div>

			<div class="form-group">
				<label class="float-right" for="new-password">تایید رمز عبور جدید:</label>
				{{form.new_password2|add_class:"form-control"|attr:"autofocus"}}
				{% if form.new_password2.errors %}
						<div class="alert-danger">
							{% for error in form.new_password2.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% endif %}
				<div class="invalid-feedback">
					رمز عبور اجباری است.
				</div>
				<div class="form-text text-muted">
					    رمز عبور شما می‌بایست حداقل از 8 حرف تشکیل شده باشد.</br> گذرواژه شما نمی تواند کلا عدد باشد.
				</div>
			</div>
			<div class="form-group m-0">
				<button type="submit" class="btn btn-primary btn-block">
					تغییر رمز عبور
				</button>
			</div>
		</form>
		<a class="btn btn-danger btn-rounded waves-effect waves-light mt-3 text-white d-block" href="{% url 'account:profile' %}">بازگشت</a>
	</div>
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	
	</div>
</div>
{% endblock %}