{% extends 'registration/base.html' %}
{% block title %}بازیابی رمز عبور{% endblock %}

{% block main %}
{% load widget_tweaks %}
{% load static %}

<div class="row">
	<div class="col">
		<a href="{% url 'cleanWorld:home' %}"><img class="siteLogo d-lg-none" src="{% static 'cleanWorld/image/logo.jpg' %}"></a>
		<p class="info">بازیابی رمز عبور</p>
		{% if form.non_field_errors %}
			<div class="alert-danger">
				{% for error in form.non_field_errors %}
					<span>{{error}}</span>
				{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
<div class="row">
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	
	</div>
	<div class="col col-lg-6 .d-block login-div">
		<form method="POST" class="my-login-validation" novalidate="">
			{% csrf_token %}
			<div class="form-group">
				<label class="float-right" for="email">آدرس ایمیل</label>
				{{form.email|add_class:"form-control"|attr:"autofocus"}}
				{% if form.email.errors %}
					<div class="alert-danger">
						{% for error in form.email.errors %}
							<span>{{error}}</span>
						{% endfor %}
					</div>
				{% endif %}
				<div class="invalid-feedback">
					ایمیل نامعتبر است.
				</div>
				<div class="form-text text-muted">
					با کلیک بر روی "بازگردانی رمز عبور" یک لینک برای شما فرستاده میشود.
				</div>
			</div>

			<div class="form-group m-0">
				<button type="submit" class="btn btn-primary btn-block">
					ارسال لینک بازیابی
				</button>
			</div>
		</form>
	</div>
	<div class="col col-lg-3 col-md-3 d-none d-md-block">
	</div>
</div>
{% endblock %}